/*
-----------------------------------------------
Typesetting for ALA
Author:   Tim Brown
Date:     21 Apr 2011

http://modularscale.com/scale/?px1=18&px2=190&ra1=1.618
18px @ 1:1.618
190px @ 1:1.618

http://alistapart.com/articles/more-meaningful-typography/
----------------------------------------------- */


/* Baseline type + layout
----------------------------------------------- */
body {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px; /* Scale origin */
	border-top: 6px #CDB380 solid;
	border-bottom: 120px #036564 solid;
	background: #E8DDCB url(background.gif) top repeat;
	color: #031634;
	}
.group {
	width: 860px;
	margin: 0 auto 18px;
	}
.main {
	float: right;
	width: 500px;
	}
.side {
	float: right;
	width: 300px;
	margin: 30px 34px 0 0;
	}
h1, h2, h3, p.intro { text-rendering: optimizeLegibility; }
h1 {
	margin: 40px 0 0 320px;
	font-size: 30px;
	line-height: 1;
	font-weight: normal;
	font-style: italic;
	color: #D95B43;
	}
h2 {
	font-family: "Arial Narrow", Arial, Verdana, sans-serif;
	margin-top: 10px;
	margin-left: 0;
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -2px;
	color: #033649;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
	}
p {
	margin: 1em 0;
	line-height: 1.5;
	}


/* Sidebar
---------------------- */
.side h3 {
	margin-top: 50px;
	font-size: 18px;
	font-weight: 400;
	}
.side p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 1.5;
	}


/* Intro
---------------------- */
p.intro {
	margin: 1em 1.5em 1em 0;
	font-size: 21px;
	line-height: 1.5;
	}


/* Preferred type + layout
----------------------------------------------- */
.wf-active body {
	font-family: "Minion-Pro-1", "Minion-Pro-2", Georgia, "Times New Roman", serif; 
	border-top-width: 6.876px;
	border-bottom-width: 117.429px;
	}
.wf-active .group {
	width: 845.479px;
	}
.wf-active .main {
	width: 497.406px;
	}
.wf-active .side {
	width: 274px; /* horizontal photos in this col are 190px high uncropped */
	margin: 27.723px 29.124px 0 0;
	}
.wf-active h1 {
	margin: 44.856px 0 0 307.420px;
	font-size: 29.124px;
	line-height: 1;
	font-weight: 300;
	}
.wf-active h2 {
	margin-top: 0;
	margin-left: 20px; /* Optical alignment of T stem to left edge of .side */
	font-family: "Myriad-Pro-Condensed-1", "Myriad-Pro-Condensed-2", "Arial Narrow", Arial, Verdana, sans-serif;
	font-size: 190px; /* Scale origin */
	line-height: 1;
	font-weight: 600;
	}
.wf-active p {
	line-height: 1.54;
	}


/* Sidebar
---------------------- */
.wf-active .side h3 {
	margin-top: 44.856px;
	}
.wf-active .side p {
	font-family: "Minion-Pro-Caption-1", "Minion-Pro-Caption-2", Georgia, "Times New Roman", serif;
	font-size: 15px; /* Improvisation! It's okay! */
	line-height: 1.54;
	}


/* Intro
---------------------- */
/*.wf-active p.intro {
	margin: 0.809em 0;
	font-size: 22.250px;
	line-height: 1.309;
	}*/
.wf-active p.intro {
	margin: 0.952em 1.54em 0.952em 0;
	font-size: 21.178px; /* 27.723 - 6.545 */
	line-height: 1.394; /* 1.54 - 0.146 */
	}


/* Handle headline FOUT
----------------------------------------------- */
.wf-loading h2 { visibility: hidden; }


/* Lettering.js adjustments
----------------------------------------------- */
h1 .word2 { color: #df745f; }
h2 .char3,
h2 .char7,
h2 .char9 { color: #031634; }
h2 .char5,
h2 .char11 { color: #542437; }


/* Links
----------------------------------------------- */
a { text-decoration: none; }
a:link, a:visited {
	color: #C02942;
	}
a:hover {
	color: #D95B43;
	border-bottom: 1px #da5369 solid;
	}
a:active {
	color: #031634;
	border-bottom: 1px #033649 solid;
	}


/* Clearfix
----------------------------------------------- */
.group:before, .group:after {
	content: "\0020"; display: block; height: 0; visibility: hidden; 
	}
.group:after { clear: both; }
.group { zoom: 1; }
