/*
  Created by Josh Brewer for Typekit
  http://jbrewer.me
  http://twitter.com/jbrewer
*/
 
/* html5doctor.com Reset Stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* END RESET CSS */

body {
        background: #E8DDCB
	color: #555;
	font-family: "Cardo",arial, serif;
	font-size: 14px;
	font-weight: normal;
        margin:0 auto;
}
::-moz-selection {
  background: rgba(183, 47, 23,0.7);
  color: #fff;
  text-shadow: none;
}
::selection {
  background: rgba(183, 47, 23,0.7);
  color: #fff;
  text-shadow: none;
}
.hide {
  display: none;
}
a {
  color: #b72f17;
}
a:hover {
  color: #fff;
}


header {
  background:  #262626;
  color: #fff;
  font-family: "quatro-1","quatro-2", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  z-index: 100;
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  position:absolute;
display:block;

}

header ul
{

	margin-right: 50px;
}

header li
{
	margin-left: 25px;
}

header h1 {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

h1 .brand .char8 {
  font-size: 38px;
  top: -8px;
  position: relative;
}
h1 .brand .char8:before {
  background: white;
  content: "";
  height: 5px;
  width: 17px;
  position: absolute;
  bottom: 1px;
  left: 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Toggle button */
.fallback-flip {
  background: #b62f17;
  background-image: -moz-linear-gradient(-90deg, #b62f17 , #7A200F );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( #b62f17 ), to( #942712 ));
  background-image: linear-gradient(top, #b62f17, #7A200F);
  border: 1px solid #7b291c;
  display: inline-block;
  font-family: "facitweb-1","facitweb-2";
  font-weight: normal;
  font-size: 13px;
  padding: 5px 12px 4px;
  position: absolute;
  left: 515px;
  top: 23px;
  text-transform: uppercase;
  text-shadow: rgba(0,0,0,0.4) 1px -1px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}
.fallback-flip:hover {
  cursor: pointer;
}
.wf-inactive .fallback-flip {
  background: #942712;
  text-shadow: rgba(0,0,0,0.4) 1px 1px 0;
  left: 516px;
  top: 25px;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
}

#main {
  margin: 0 auto;
  width: 960px;
}
blockquote, blockquote p {
  margin: 0;
}
.glass {
  color: rgb(255,255,255);
  color:rgba(255,255,255,0.6);
  font-size: 72px;
  font-weight: bold;
  font-family: "quatro-1","quatro-2", sans-serif;
  line-height: 1;
  margin-left: 515px;
  margin-top: 60px;
  position: relative;
  text-transform: uppercase;
  height: 500px;
  width: 444px;
}

.glass .line1 {
  top: 0;
  letter-spacing: 1px;
  left: 0px;
}
.line1 .word1 {
  left: -2px; 
  position: relative;
}
.line1 .word3 {
  right: -4px; 
  position: relative;
}
.line1 .word1 .char2, .line5 .word1 .char2 {
  margin-left: -2px;
}
.line1 .word1 .char3, .line5 .word1 .char3 {
  margin-left: 1px;
}
.wf-inactive .line1 .word1 .char2, .line5 .word1 .char2 {
  margin-left: 0px;
}
.wf-inactive .line1 .word1 .char3, .line5 .word1 .char3 {
  margin-left: 2px;
}
.line1 .word2 .char3 {
  margin-left: 2px;
}
.glass .line2 {
  font-size: 118px;
  margin-left: -6px;
  letter-spacing: 16px;
}
.line2 .char5 {
  margin-left: -14px;
}
.glass .line3 {
  display: block;
  font-size: 46px;
  margin-left: 0;
  letter-spacing: 0.085em;
  position: relative;
  width: 100%;
}
.line3 .word1 {
  margin-left: -2px;
}
.line3 .word2 {
  margin-left: 2px;
}
.line3 .word3 {
  right: -4px;
  position: absolute;
}
.glass .line4 {
  display: block;
  font-size: 48px;
  margin: 10px 0 4px;
  position: relative;
  text-align: center;
  z-index: 3;
  width: 444px;
}
.glass .line4:after {
  content: "";
  border-top: 8px solid rgba(255,255,255,0.6);
  top: 20px;
  left: -1px;
  width: 190px;
  position: absolute;
  z-index: -1;
}
.glass .line4:before {
  content: "";
  border-top: 8px solid rgba(255,255,255,0.6);
  top: 20px;
  right: 0;
  width: 190px;
  position: absolute;
  z-index: -1;
}
.glass .line5 {
  display: block;
  letter-spacing: 4px;
  position: relative;
}
.line5 .word2 {
  position: absolute;
  right: -5px;
}
.glass .line6 {
  display: block;
  font-size: 96px;
  letter-spacing: 4px;
  position: relative;
}
.line6 .word2 {
  position: absolute;
  right: -5px;
}
.line6 .word2 .char3 {
  margin-left: -4px;
}

.glass .line7 {
  display: block;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-top: 10px;
  position: relative;
  margin-left: -1px;
}
.line7 .word2, .line7 .word3 {
  margin-left: 4px;
}
.line7 .word4 {
  position: relative;
  right: -5px;
}

.content {
  padding-top: 90px;
  position: relative;
  font-size: 100%;
}
.content h2 {
  font-family: "facitweb-1","facitweb-2";
  font-size: 21px;
  font-weight:bold;
}
.copy {
  font-family: "facitweb-1","facitweb-2";
  line-height: 1.5;
  z-index: 2;
  font-size: 18px;
  font-weight: 200;
  margin-top: 20px;
  xtext-align: justify;
}
footer {
  border-top: 1px solid #292929;
  padding-top: 50px;
  font-size: 13px;
  margin: 50px auto;
  width: 960px;
}

/* All styles for fallback */
.wf-inactive .glass {
  font-family: "Arial Black", Verdana, "Driod Sans", sans-serif;
  font-stretch: normal;
  letter-spacing: 0px;
  margin-left: 513px;
  margin-top: 58px;
  line-height: 1;
  z-index: 10;
}
.wf-inactive header h1 {
  font-family: "Arial Black", Verdana, "Driod Sans", sans-serif;
  position: relative;
  top: -2px;
  left: -1px;
}
.wf-inactive .brand {
  letter-spacing: -2px;
}
.wf-inactive h1 .char7 {
  margin-left: -3px;
}
.wf-inactive h1 .char8:before {
  left: 7px;
}
.wf-inactive .line1 {
  letter-spacing: -6px;
}
.wf-inactive .line2 {
  letter-spacing: 7px;
  line-height: 115px;
}
.wf-inactive .line3 {
  letter-spacing: 0;
  margin-top: 3px;
}
.wf-inactive .line3 .word2 {
  margin-left: 0;
}
.wf-inactive .line4 {
  margin: 12px 0 2px;
}
.wf-inactive .line4:before {
  right: -1px;
}
.wf-inactive .line4:after {
  left: 1px;
}
.wf-inactive .line5 {
  letter-spacing: 0;
}
.wf-inactive .line6 {
  letter-spacing: 1px;
}
.wf-inactive .line6 .word2 {
  right: -7px;
}
.wf-inactive .line6 .word3 {
  right: 10px;
}
.wf-inactive .line6 .word3 .char3 {
  margin-left: -10px;
}
.wf-inactive .line7 {
  font-size: 26px;
  letter-spacing: 2px;
}
.wf-inactive .line7 .word2 {
  margin: 0 3px;
}
.wf-inactive .line7 .word4 {
  position: relative;
  right: -4px;
}
.wf-inactive h2 {
  font-family: Tahoma, Verdana, sans-serif;
  margin-top:1px;
}
.wf-inactive .copy {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 20px;
  text-shadow:#000 0 0 1px;
}
/* small tweaks for Mobile Safari */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .copy {color:#999;font-size:13px;}
  .content h2 {color:#aaa;font-size:25px;}
  .line1 {
    letter-spacing:-3px;
    margin-left:-2px;
  }
  .line1 .word2{
    margin-left:-1px;
    margin-right:0;
  }
  .line7 {
    letter-spacing:0px;
    width:446px;
  }
  .line7:last-child {
    right:0;
  }
}
