<app xmlns="http://www.marklogic.com/mx"
     xmlns:xm="http://xmlmonks.com" xmlns:mx="http://www.marklogic.com/mx" default-context="?">

  <!-- passthru  //-->
  <path url="/resource/"  type="passthru" description=""/>
  <path url="/robots.txt" type="passthru" description=""/>

  <!-- http redirection //-->

  <!-- inline //-->
  <path url="/monastery" content-type="text/html" method="GET">
    <html xmlns="http://www.w3.org/1999/xhtml">
      <head>
        <meta charset="utf-8"/>     
        <title>XML Monks</title>
        <link rel="icon" href="/favicon.ico"/> 
        <link href="http://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet" type="text/css"/>
        <link href="/resource/css/style.css" rel="stylesheet" type="text/css"/>
      </head>
      <body>
        <header>
          <h1><span class="contacts">linkedin:&#160;<a
          href="http://cz.linkedin.com/in/jimfuller"
          target="linkedin">Jim Fuller</a> <br/>&#160;&#160;twitter: <a
          href="http://twitter.com/#!/xquery" target="twitter">@xquery</a> <br/>
          &#160;&#160;&#160;&#160;&#160;email:&#160;<a href="mailto:jim@webcomposite.com">jim@webcomposite.com</a></span> <a href="/">XML Monks</a></h1>
        </header>
        <nav>
          <h2>
            <a href="?tag=recent" style="text-decoration: none; color: #a3211f;">Recent</a>
            | <a href="?tag=">All</a>
            | <a href="?tag=ruminate">Ruminations</a>
            | <a href="?tag=xml">XML</a>
            | <a href="?tag=xquery">XQuery</a>
            | <a href="?tag=xproc">XProc</a> | <a href="?tag=xslt">XSLT</a>
            | <a href="?tag=web">Web</a>
            <span class="search">search <input size="30" type="text"/></span>
          </h2>
        </nav>
        <nav>
          <ul>
            {for $article in fn:collection('articles')
             order by $article/xm:article/@date descending
             return
             if($article/xm:article/@type) then
             <li>{fn:data($article/xm:article/@date)} &#160;<a
             href="{fn:data($article/xm:article/@uri)}" target="external">{fn:data($article/xm:article/@title)}</a>&#8314;<sup>{fn:data($article/xm:article/@type)}</sup></li>
             else
             <li>{fn:data($article/xm:article/@date)} &#160;<a
             href="{fn:document-uri($article)}">{fn:data($article/xm:article/@title)}</a></li>
            }
          </ul>
        </nav>
        <footer>
	  &#169; 2011 <strong> Webcomposite</strong> s.r.o. All rights reserved.  
        </footer>
      </body>
    </html>
  </path>


  <path url="/userprofile" type="template" content-type="text/html" data="/d/people"
        method="GET">
    <xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
      <xsl:template match="*">
        <div>
          <h2>User Profile</h2>
          First: <xsl:value-of select="person/first"/><br/>
          Last: <xsl:value-of select="person/last"/><br/>
          Email: <xsl:value-of select="person/email"/><br/>
          Github: <xsl:value-of select="person/github"/><br/>
          Twitter: <xsl:value-of select="person/twitter"/><br/>
        </div>
      </xsl:template>
      </xsl:stylesheet>
  </path>

  <path url="/logon" content-type="text/html" method="GET">
    <html xmlns="http://www.w3.org/1999/xhtml">
      <body>
        <h1>Logon</h1>
      </body>
    </html>
  </path>

  <!-- data //-->
  <path url="/mail/xproc" content-type="text/xml" method="GET">
    xdmp:document-get('http://markmail.org/atom/xproc')
  </path>

  <path url="/test" content-type="text/xml" method="GET">
    mx:delete-cache()
  </path>

  <path url="/json" content-type="text/plain" method="GET">
    import module namespace json="http://marklogic.com/json" at "/lib/mljson/lib/json.xqy";
    json:xmlToJSON(<json type="object"><item type="string">test</item></json>)
  </path>

  <path url="/d/people" content-type="application/json" method="GET">
    <people xmlns="">
      <person id="user">
        <first>Jim</first>
        <last>Fuller</last>
        <email>jim.fuller@webcomposite.com</email>
        <twitter>xquery</twitter>
        <github>xquery</github>
      </person>
    </people>
  </path>

  <path url="/d/articles" content-type="text/xml" method="GET">
    <articles xmlns="data">
      <article>
        <section><title>My first article</title></section>
      </article>
    </articles>
  </path>

  <path url="/d/github" content-type="text/plain" method="GET">
   let $id  :=  mx:param('id')
   let $url := fn:concat("http://github.com/api/v2/json/repos/show/",$id)
   return
   xdmp:document-get($url,
          <options xmlns="xdmp:document-get">
           <format>text</format>
       </options>)
  </path>

  <path url="/d/github.xml" content-type="text/xml" method="GET">
    import module namespace json="http://marklogic.com/json" at "/lib/mljson/lib/json.xqy";

   let $id  :=  mx:param('id')
   let $url := fn:concat("http://github.com/api/v2/json/repos/show/",$id)
   return
   json:jsonToXML(
   xdmp:document-get($url,
          <options xmlns="xdmp:document-get">
           <format>text</format>
       </options>)
       )
  </path>

  <!-- module //-->
 
  <!-- templates (views) //-->
  <path url="/git" method="GET" type="template"
        content-type="text/html" data="/d/github">
  {{#repositories}}
  <p xmlns="http://www.w3.org/1999/xhtml">
      <a href="{{url}}">{{name}}</a>
      owner: {{owner}}<br/>
      language: {{language}}<br/>
    </p>

  {{/repositories}}

  </path>

  <!-- default MX (required for MX build/test) //-->
  <path url="/mx" method="GET" type="inline" content-type="text/html" description="MX status page">
    <html>
      <body>
        <h1>MX Status Page</h1>
      </body>
    </html>
  </path>

</app>
